<!DOCTYPE html>
<html lang="en">

<%- include('./templates/head.ejs') %>

<body>
    
    <%- include('./templates/navbar.ejs') %>

    <main>
        <div class="form-container">
            <form action="">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your Name" required>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="name@example.com" required>
                <label for="message">Message</label>
                <textarea name="message" id="message" placeholder="Type your message..." required></textarea>
                <button type="submit" id="btn">Send</button>
            </form>
        </div>
    </main>

    <%- include('./templates/footer.ejs') %>
    
</body>
</html>