<!DOCTYPE html>
<html lang="en">

<%- include('./templates/head.ejs') %>

<body>
    
    <%- include('./templates/navbar.ejs') %>

    <main>
        <div class="error">
            <h1><i class="fa-solid fa-triangle-exclamation fa-5x"></i></h1>
            <h1>Sorry, some error occured! :/</h1>
        </div>
    </main>

    <%- include('./templates/footer.ejs') %>

</body>

</html>