<!DOCTYPE html>
<html lang="en">

<%- include('./templates/head.ejs') %>

<body>
    
    <%- include('./templates/navbar.ejs') %>

    <main>
        <div class="hero">
            <h1><i class="fa-solid fa-handshake fa-10x"></i></h1>
            <h1>Get in touch with us by sending a message through the <a href="/contact">Form.</a> <br><br> We'll get back to you shortly!</h1>
        </div>
    </main>

    <%- include('./templates/footer.ejs') %>
    
</body>

</html>