<header>
    <nav>
        <div class="logo">
            <h1>Contact Form</h1>
        </div>
        <div class="list">
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/about">
                    <li>About</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </div>
    </nav>
</header>